{{#> layout}}
    {{#*inline "content"}}
<!DOCTYPE html>
<html>
<body>
<div style="margin:10px">
        <h3 style="padding-left: 20px">Add a new comment</h3>
        <div style="text-align: center; padding-top: 20px">
            <img style="width: 60%" class="image-post" src="{{currentPost.postImage}}">
        </div>
        <h6 style="display:flex; flex-direction: column; margin-right: 50px; margin-left: 50px" align="justify">{{currentPost.content}}</h6>
        {{#if currentUser}}
            <div style="display:flex; flex-direction: column">
            <form method="POST" action="/posts/add/{{currentPost.id}}" style="display:flex; flex-direction: column; padding-bottom:20px; margin-left: 50px; margin-top: 10px">
                Comment: <br />
                <textarea  style="margin-bottom: 10px; height: 150px; width:400px" name="comment"></textarea>

                <input type="submit" id="submit" style="height: 30px; width:100px"/>
            </form>
            </div>

        {{/if}}

        <div id="comment-section" style="display:flex; flex-direction: column" align="justify">
            <h3 style="padding-left:20px; margin: 0px">Comments</h3>

        {{#each comment}}
            <p style="margin-left: 20px; width:800px">{{commentBody}}</p>
            <smal style="margin-left: 20px">By {{authorName}}</smal>
            <small style="margin-left: 20px">posted: {{dateCreated}}</small>
        <br>
            <smal style="margin-left: 20px">{{commentsLikeCount}} Likes</smal>
            {{#if currentUser}}
                <form style="margin-left: 20px" class="button-styling" method="POST" action="/comment-like/{{id}}">
                    <input style="color:red" type="submit" value="â¤">
                </form>
            {{/if}}
        {{/each}}
        </div>
    </div>

</body>
</html>

    {{/inline}}
{{/layout}}

