{{#> layout}}
    {{#*inline "content"}}
<!DOCTYPE html>
<html>
<body>
        <h1>Add a new comment</h1>



        <h1>{{currentPost.content}}</h1>
        {{#if currentUser}}
            <form method="POST" action="/posts/add/{{currentPost.id}}">
                Content: <br />
                <textarea name="comment"></textarea>

                <input type="submit" id="submit" />
            </form>
        {{/if}}
        <hr>
        <hr>
        <div id="comment-section">
            <h3>Comments</h3>

        {{#each comment}}
            <p>{{commentBody}}</p>
            <smal>By {{authorName}}</smal>
            <br>
            <small>posted: {{dateCreated}}</small>
            <hr>
            {{#if currentUser}}
                <form class="button-styling" method="POST" action="/comment-like/{{id}}">
                    <input type="submit" value="like">
                </form>
            {{/if}}
        {{/each}}
        </div>
</body>
<html>

    {{/inline}}
{{/layout}}

